:root {
    --pink: #f9cdff;
    --litepink: #fce6ff;
    --bg-color: black;
    --primary-color: #32CD32;
    --secondary-color: #A1E8A1;
    --tertiary-color: #5e5e5e;
    /* --tertiary-color: #c1f0c1; */
    --typewriter-speed: 2s;
    --typewriter-chars: 17;
}

/* TODO: use another font face */
@font-face {
    font-family: 'Fira Code';
    src: url('fonts/FiraCode-Regular.woff2');
    font-weight: bold;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    margin: 0;
    min-height: 100vh;
    font-family: 'Fira Code';
}

h1,
h2,
h3,
h4 {
    color: var(--primary-color);
}

header {
    height: 5vh;
}

main {
    display: grid;
    place-content: center;
    text-align: center;
    height: 95vh;
}

.welcome {
    position: relative;
    /* FIXME: cursor starting/end position incorrect
     width: max-content; */
}

.welcome::before,
.welcome::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.welcome::before {
    background-color: var(--bg-color);
    animation: typewriter var(--typewriter-speed) steps(var(--typewriter-chars)) 1s forwards;
}

.welcome::after {
    width: 0.125em;
    background-color: var(--primary-color);
    animation:
        typewriter var(--typewriter-speed) steps(var(--typewriter-chars)) 1s forwards,
        blink 750ms steps(var(--typewriter-chars)) infinite;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background-color: transparent;
    }
}

.quote {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriter-speed) + 2s) forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


hr {
    color: #006dd3;
}

.header-text:hover {
    color: #3A1078;
}

.nav-text {
    color: pink;
}

.site-link {
    color: #00008B;
}

a.site-link:hover {
    color: #FD841F;
}

.site-nav-bg {
    background-color: var(--secondary-color);
}

.navbar-brand {
    color: #3A1078;
}

.site-header .navbar-nav .nav-link {
    color: #A8D1D1;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #001E6C;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.content {
    background-color: var(--tertiary-color);
    border-radius: 10px;
}

.card-subtitle {
    color: white;
}

.btn-current {
    background-color: var(--secondary-color);
}

.btn-other {
    background-color: transparent;
    color: var(--secondary-color)
}

.btn-other:hover {
    border-color: var(--secondary-color);
    color: white;
}

.btn-add {
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color)
}

.btn-add:hover {
    color: white;
}