{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <h1>Welcome to GymLog</h1>
    {{ cal_html|safe }}
    <div class="container-fluid solid-bg">
        {% for a in activities %}
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        {{ a.name }}
                    </h4>
                    <p class="card-subtitle mb-2 text-muted">{{ a.category }}</p>
                    <p class="card-text">
                        Latest attendance: Today
                    </p>
                    <a href="#" class="btn btn-sm btn-warning">Update</a>
                    <a href="#" class="btn btn-sm btn-info">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}