{% extends "layout.html" %}
{% block content %}
<div class="container-fluid solid-bg">
    <div class="row align-items-center">
        <div class="col-2">
            <h1>Activities</h1>
        </div>
        <div class="col-2">
            <a href="#" class="btn btn-sm btn-primary">Add Activity</a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        {% for a in activities|sort %}
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        {{ a.name }}
                    </h4>
                    <p class="card-subtitle mb-2 text-muted">{{ a.category }}</p>
                    <p class="card-text">
                        Total Attendance: <strong>{{ a.attendances|length }} </strong></br>
                        Most recent attendance: <strong>{{ a.attendances|sort(reverse = True)|first }}</strong>
                    </p>
                    <!-- <a href="{{ url_for('edit_class', class_id=c.id) }}" class="btn btn-sm btn-warning">Update</a>
                    <a href="{{ url_for('show_class', class_id=c.id) }}" class="btn btn-sm btn-info">View</a> -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% for page_num in activities.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if activities.page == page_num %}
    <a class="btn btn-info mb-4" href="{{ url_for('activities', page=page_num) }}">{{ page_num }}</a>
    {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('activities', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}