{% extends "layout.html" %}
{% block content %}
<div class="container solid-bg">
    <div class="row">
        <h1>Activities</h1>
    </div>
    <a href="{{ url_for('add_activity') }}" class="btn btn-sm btn-success">Add Activity</a>
    <div class="row row-cols-1 row-cols-md-2">
        {% for a in activities|sort(reverse=True, attribute="modified_time") %}
        <div class="col mb-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        {{ a.name }}
                    </h4>
                    <p class="card-subtitle mb-2 text-muted">{{ a.category }}</p>
                    <p class="card-text">
                        Total Attendance: <strong>{{ a.attendances|length }} </strong></br>
                        Most recent attendance: <strong>{{ a.attendances|sort(reverse = True)|first }}</strong>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% for page_num in activities.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if activities.page == page_num %}
    <a class="btn btn-info mb-4" href="{{ url_for('activities', page=page_num) }}">{{ page_num }}</a>
    {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('activities', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}