{% extends "layout.html" %}
{% block content %}
<div class="row align-items-center">
    <h1>Classes <a href="{{ url_for('new_class') }}" class="btn btn-sm btn-add"><i class="fa-solid fa-plus"></i></a>
    </h1>
</div>
<div class="row row-cols-1 row-cols-md-3">
    {% for c in gym_classes|sort %}
    <div class="col mb-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    {{ c.name }}
                </h4>
                <p class="card-subtitle mb-2">{{ c.class_type }}</p>
                <p class="card-text">
                    Total Attendance: <strong>{{ c.attendance_list|length }} </strong></br>
                    Most recent attendance: <strong>{{ c.attendance_list|sort(reverse = True)|first }}</strong>
                </p>
                <a href="{{ url_for('edit_class', class_id=c.id) }}" class="btn btn-sm btn-current"><i
                        class="fa-solid fa-pen-to-square"></i></a>
                <a href="{{ url_for('show_class', class_id=c.id) }}" class="btn btn-sm btn-current"><i
                        class="fa-solid fa-circle-info"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row align-items-center">
    {% for page_num in gym_classes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if gym_classes.page == page_num %}
    <a class="btn btn-current mb-4" href="{{ url_for('classes', page=page_num) }}">{{ page_num }}</a>
    {% else %}
    <a class="btn btn-other mb-4" href="{{ url_for('classes', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
</div>
</div>
{% endblock content %}