{% extends "layout.html" %} {% block content %}
<div class="text-center mt-2 mb-5">
  <h1 class="display-4">Upload CSV</h1>
</div>
<!--Collapsable Tabs-->
<div class="row">
  <p>
    <button
      class="btn btn-bordered mr-5"
      data-bs-toggle="collapse"
      href="#csv-about"
      role="button"
      aria-expanded="false"
      aria-controls="csv-about">
      About
    </button>
    <button
      class="btn btn-bordered"
      role="button"
      data-bs-toggle="collapse"
      data-bs-target="#csv-rules"
      aria-expanded="false"
      aria-controls="csv-rules">
      CSV requirements
    </button>
    <button
      class="btn btn-bordered"
      data-bs-toggle="collapse"
      href="#csv-template"
      role="button"
      aria-expanded="false"
      aria-controls="csv-template">
      CSV Template
    </button>
  </p>
</div>
<div class="collapse" id="csv-about">
  <div class="card card-body">
    GymLog allows you to bulk add classes via CSV files. Please make sure the
    file satisfy the following
  </div>
</div>
<div class="collapse" id="csv-rules">
  <div class="card card-body">
    <ul>
      <li>File Type: .csv</li>
      <li>Headers:class_name, attendance_date<i>(format: yyyy-mm-dd)</i></li>
    </ul>
  </div>
</div>
<div class="collapse" id="csv-template">
  <div class="card card-body">
    <p>Download the template file for convenience!</p>
    <button>Download template</button>
  </div>
</div>
<!--Upload Form-->
<div class="mb-3 mt-5">
  <form
    action="/upload"
    method="POST"
    enctype="multipart/form-data"
    class="form-group">
    <label for="file"> </label>
    <input class="form-control" type="file" id="file" name="file" />
    <button class="btn btn-current mt-5">Upload</button>
  </form>
</div>
{% endblock content %}
