{% extends "layout.html" %} {% block content %}
<!--TODO: further style bar graph:
1. fix bar width
2. style labels
3. add border to graph
-->
<div class="text-center mt-2 mb-5">
  <h1 class="display-4">Yearly Report</h1>
</div>
<canvas id="yearlyReport" width="700" height="400"></canvas>
<script src="{{url_for('static', filename='/js/report.js') }}"></script>
<script type="text/javascript">
  labels = {{ labels|tojson|safe }};
  values = {{ values|tojson|safe }};
  reportId = "yearlyReport";
</script>
{% endblock content %}
